<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% trans "Online Petition" %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
</head>

<body>

<div class="topbar">
    <div class="fill">
        <div class="container">
            <a class="brand" href="{% url campaign_list %}">{% trans "Online Petition" %}</a>
            <ul class="nav">
                <li><a href="{% url campaign_list %}">{% trans "Active petitions" %}</a></li>
                <li><a href="{% url petition_faq %}">{% trans "FAQ" %}</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="container">

    <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
        <h1>{% trans "Online Petition System" %}</h1>

        <p>{% trans "This is an open source something for online petitons licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache2 licence</a>.
        You're free to deploy your own version of OPS and manage your own campaigns that require petitions." %}</p>

        <p><a class="btn primary large" href="https://github.com/dotKom/onlinepetition/wiki">{% trans "Check our wiki at GitHub &raquo" %};</a></p>
    </div>

    <!-- Example row of columns -->
    
    {% include "footer.html" %}

</div>
<!-- /container -->

</body>
</html> 
