{% extends "base.html" %}

{% block navigation%}

{% endblock navigation%}


{% block page-header %}
    <h1>{{ campaign }}</h1>
{% endblock page-header %}

{% block sidebar %}
    <p>{{ campaign.description }}</p>

      <a href="{% url campaign_register campaign.pk  %}" class="btn primary large">Signér!</a>

    <h3>Statistikk</h3>
    <p>Dette arrangemenetet har {{ campaign_signatures_count }} verifiserte signaturer, og {{ campaign_signatures_notverified_count }} signaturer som venter på bekreftelse!</p>
{% endblock sidebar %}

{% block content %}
    
    <h3>Disse har skrevet under på at de ønsker pc på eksamen. Gjør du?</h3>

    {% if campaign.signatures %}
        <ol>
        {% for email in campaign.signatures %}
            <li>{{ email }}</li>
        {% endfor %}
        </ol>
    {% else %}
        <p>No one has yet registered their signatures for this petition!</p>
    {% endif %}
{% endblock content %}
 