{% extends "base.html" %}

{% block navigation %}
    <ul class="nav">
        <li><a href="{% url campaign_list %}">Active petitions</a></li>
        <li class="active"><a href="{% url petition_faq %}">FAQ</a></li>
    </ul>
{% endblock navigation %}

{% block page-header %}
    <h1>{% trans "FAQ" %}
    <small>{% trans "Frequently asked questions" %}</small>
    </h1>
{% endblock page-header %}

{% block sidebar %}
{% endblock sidebar %}

{% block content %}
<h2>{% trans "FAQ" %}</h2>

    <h3>{% trans "Q1. Why so serious?" %}</h3>
    <p>{% trans "A1. Internet is serious business!" %}</p>

    <h3>{% trans "Q2. Who made this system?" %}</h3>
    <p>{% trans "A2. Some techy freaks at the student union Online, dotKom at NTNU" %}</p>

{% endblock content %}
