{% extends "base.html" %}
{% load markup %}
{% load i18n %}

{% block navigation %}
    <ul class="nav">
        <li><a href="{% url campaign_list %}">{% trans "Active petitions" %}</a></li>
        {% comment %}<li><a href="{% url petition_faq %}">{% trans "FAQ" %}</a></li>{% endcomment %}
    </ul>
{% endblock navigation %}

{% block page-header %}
    <h2>{{ campaign }}</h2>
{% endblock page-header %}

{% block sidebar %}
    <h3>{% trans "Help" %}</h3>
    <p>{% trans "Fill in the form to submit your signature to the petition. Make sure you check your mailbox afterwards to confirm the validity of your signature!" %}</p>
    <h3>{% trans "Stats" %}</h3>
    <p>{% blocktrans %}This event has {{ campaign_signatures_count }} verified signature(s), and {{ campaign_signatures_notverified_count }} signature(s) to be verified!{% endblocktrans %}</p>
{% endblock sidebar %}

{% block content %}
    {% if error_message %}
        <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <p>{{  error_message }}</p>
        </div>
    {% endif %}
    
    <p>{{ campaign.description|markdown }}</p>

    {% if campaign.is_active %}
        <p>&nbsp;</p>
        <h3>{% trans "Signature form" %}</h3>

        <form id="{{form.id}}" class="form-horizontal" action="{% url campaign_register campaign.pk %}"
              method="post">{% csrf_token %}
              {% comment %} TODO: ALIGN disse under hverandre {% endcomment %}
            <fieldset id="{{form.id}}_fieldset">
                  {% for field in form.visible_fields %}
                      <div class="control-group{% if field.errors %} error{% endif %}{% if field.field.required %} required{% endif %}" id="div_{{ field.auto_id }}">
                              <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>

                              <div class="controls">
                                  {{ field }}

                                  {% for error in field.errors %}
                                      <span class="help-inline">{{ error }}</span>
                                  {% endfor %}

                                  {% if field.help_text %}
                                      <p class="help-block">
                                          {{ field.help_text|safe }}
                                      </p>
                                  {% endif %}

                              </div>
                      </div>
                  {% endfor %}
            </fieldset>
            <input type="submit" class="btn btn-primary xlarge pull-left" value="{% trans "Sign this petition!" %}"/>
        </form>
    {% else %}
        <h3>{% trans "This campaign is closed" %}</h3>
    {% endif %}
{% endblock content %}
